{% extends 'base.html' %}
{% block title %}About Muslim Care Centre{% endblock title %}
{% load static %}
{% load humanize %}


{% block content %}
{% include 'menu.html' %}

<div class="container">
<section id="content">	
			
    <!-- Page Heading -->
    <section class="section page-heading animate-onscroll">
        
        <h1>About us</h1>
        <p class="breadcrumb"><a href="{% url 'index' %}">Home</a> / About MCC</p>
        
    </section>
    <!-- Page Heading -->
    

    
    <!-- Section -->
    <section class="section full-width-bg gray-bg">
        
        <div class="row">
        
            <div class="col-lg-9 col-md-9 col-sm-8">
                
                <div class="row">
                
                    <div class="col-lg-12 col-md-12 col-sm-12">
                
                        <h3 class="animate-onscroll no-margin-top">About us</h3>
                        
                        <img class="animate-onscroll youtube-video" width="920" height="515" src="{% static 'app/img/about.jpg' %}" allowfullscreen>
                        <h3 class="animate-onscroll" style="text-align: center;">Our Mission</h3>
                        <p class="animate-onscroll" style="line-height: 40px; text-align: justify;">The Centre is a non-governmental organization that seeks institutional transformation of the society by advancing Civil and Social Protection Rights of Muslims and non-Muslims in Nigeria, as well as to enhance the development of spiritual values as embodied in Islam. 

                            We help governments and societies build a sustainably peaceful, prosperous and just world.  This we do by fostering mutual understanding between interest groups through debate, dialogue and independent analysis and promoting excellence in the principles and practice of:</p>
                        
                    </div>
                    
                </div>
                
                <div class="row section-row">
                    
                    <div class="col-lg-12 col-md-12 col-sm-12">
                    
                        
                        
                        <img class="align-left animate-onscroll no-margin-top" style="width: 450px"  src="{% static 'app/img/about1.jpg' %}" alt="">
                        <h3 class="animate-onscroll" style="text-align: center;">CivicParticipation</h3>
                        <p class="animate-onscroll" style="line-height: 40px; margin-bottom: 150px; text-align: justify;">We build capacities for conflict resolution, civic education and strengthening the rule of law as a panacea for building trust, cooperation and accountability in governance.</p>
                        
                        <br class="clearfix">
                
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: -70px;">
                    
                        <img class="align-right animate-onscroll no-margin-top" style="width: 450px;" src="{% static 'app/img/about1.jpg' %}" alt="">
                        <h3 class="animate-onscroll" style="text-align: center;">Social Protection</h3>
                        <p class="animate-onscroll" style="line-height: 40px; margin-bottom: 150px; text-align: justify;">We seek to reduce poverty and unemployment by advocating and promoting policies, skills and resources that will facilitate a thriving culture of entrepreneurship and wealth creation among Women, Youth and other vulnerable groups.</p>
                        
                        <br class="clearfix">
                
                    </div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: -70px; margin-bottom: -100px;">
                    
                        <img class="align-left animate-onscroll no-margin-top" style="width: 450px;" src="{% static 'app/img/about1.jpg' %}" alt="">
                        <h3 class="animate-onscroll" style="text-align: center; margin-top: -1px;">Leadership</h3>
                        <p class="animate-onscroll" style="line-height: 40px; margin-bottom: 150px; text-align: justify;">The realities of an ever-changing world demands leadership skills and knowledge that is humane, innovative and responsive to new threats and opportunities. We bridge the skills and knowledge gap in government, politics, religion, sports, entertainment and the corporate world for greater inclusion and sustainable development.</p>
                        
                        <br class="clearfix">
                
                    </div>

                </div>
                
             
                
            </div>
            
            
            
            <!-- Sidebar -->
            <div class="col-lg-3 col-md-3 col-sm-4 sidebar">
                {% for service in services %}
                <div class="banner-wrapper">
                    <a class="banner animate-onscroll">
                        <h4 style="text-align: center; width: 100%; margin-left: -20px;">{{service.title}}</h4>
                        <p style="text-align: justify; width: 100%; margin-left: -20px;">{{service.content}}</p>
                    </a>
                </div>
                {% endfor %}
                
               						
                <!-- /Featured Video -->						<!-- Upcoming Events -->
                <div class="sidebar-box white animate-onscroll">
                    <h3>Upcoming Events</h3>
                    <ul class="upcoming-events">
                    {% for events in event %}
                        <!-- Event -->
                        <li>
                            <div class="date">
                                <span>
                                    <span class="day"><i class="icons icon-calendar"></i></span>
                                    <span class="day"><i class="icons icon-clock"></i></span>
                                </span>
                            </div>
                            
                            <div class="event-content">
                                <h6><a href="{% url 'eventdetails' events.pk %}">{{events.event_theme}}</a></h6>
                                <ul class="event-meta">
                                    <li><i class="icons icon-clock"></i> {{events.date_and_time_of_event}}</li>
                                    <li><i class="icons icon-location"></i> {{events.venue }}</li>
                                </ul>
                            </div>
                        </li>
                        <!-- /Event -->
                        
                    {% endfor %}
                    </ul>
                    <a href="{% url 'viewevents' %}" class="button transparent button-arrow">More events</a>
                </div>
                <!-- /Upcoming Events -->						<!-- Image Banner -->
               					<!-- Popular News -->
                <div class="sidebar-box white animate-onscroll">
                    <h3>Popular news</h3>
                    <ul class="popular-news">
                    {% for news in popular_news %}
                        <!-- Blog Item -->
                        <li>
                            <div class="thumbnail">
                                <img src="{{news.image.url}}" alt="">
                            </div>
                            
                            <div class="post-content">
                                <h6><a href="{% url 'newsdetails' news.id %}">{{news.title|truncatewords:4}}</a></h6>
                                <div class="post-meta">
                                    <span>by <a href="{% url 'newsdetails' news.id %}"><i class="icons icon-user"></i>{{news.user.get_full_name}}</a></span>
                                    <span><i class="icons icon-clock"></i>{{news.created_at |naturaltime}}</span>
                                </div>
                            </div>
                        </li>
                        <!-- /Blog Item -->
                    {% endfor %}   
                        
                    </ul>
                    
                </div>
                <!-- /Popular News -->						
            </div>
            <!-- /Sidebar -->
            
            
            
        
        </div>
        
    </section>
    <!-- /Section -->

</section>
</div>
{% endblock content %}