{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'menu.html' %}
<div class="container">
    <section id="content">
			
			
        <!-- Page Heading -->
        <section class="section page-heading animate-onscroll">
            
            <h1>Post Event</h1>
            <p class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Post Event</p>
            
        </section>
        <!-- Page Heading -->
        
        
        
        
        <!-- Section -->
        <section class="section full-width-bg gray-bg">
            
            <div class="row">
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                    
                    <div class="animate-onscroll">
                        <h3 class="no-margin-top">Post Event</h3>
                        
                    </div>
                    
                    <form method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 animate-onscroll">
                                
                            {{form|crispy}}
                            </div>
                            
                        </div>
                        
                        <div class="align-center animate-onscroll">
                            <input type="submit" value="Submit">
                        </div>
                    
                    </form>
                    
                </div>
                
                
            
                
                
            
            </div>
            
        </section>
        <!-- /Section -->
    
    </section>
</div>


{% endblock content %}

